<ion-view view-title="FutsalManager">
  <ion-content class="has-header">

    <div class="boxes-container">
      <a href="#/main/reservation">
        <div class="row" style="height:25%;">
            <div class="col" style="background-image:url('http://dlrkdalsdl.cafe24.com/resources/upload/home/stadium2.jpg'); background-size: 100% 100%;">
              <h2 style="color:white; line-height:80%">Reservation</h2>
              <h4 style="color:white; line-height:30%">Request Reservation</h4>
            </div>
        </div>
      </a>
      <a href="#/main/matching">
       <div class="row" style="height:25%;">
          <div class="col" style="background-image:url('http://dlrkdalsdl.cafe24.com/resources/upload/home/matching.jpg'); background-size: 100% 100%;">
            <h2 style="color:white; line-height:80%">Matching</h2>
            <h4 style="color:white; line-height:30%">Request Matching</h4>
          </div>
       </div>
      </a>
      <a href="#/main/recruitment">
        <div class="row" style="height:25%;">
          <div class="col" style="background-image:url('http://dlrkdalsdl.cafe24.com/resources/upload/home/recruitment.jpeg'); background-size: 100% 100%;">
            <h2 style="color:white; line-height:80%">Recruitment</h2>
            <h4 style="color:white; line-height:30%">Request Recruitment</h4>
          </div>
        </div>
      </a>

      <a href="#/main/community">
        <div class="row" style="height:25%;">
          <div class="col" style="background-image:url('http://dlrkdalsdl.cafe24.com/resources/upload/home/community.png'); background-size: 100% 100%;">
            <h2 style="color:white; line-height:80%">Community</h2>
            <h4 style="color:white; line-height:30%">Request Community</h4>
          </div>
        </div>
      </a>
    </div>


    <!--<button class="button button-full button-assertive" ng-click="choosePhoto()">-->
      <!--Choose Photo-->
    <!--</button>-->

  </ion-content>
</ion-view>
