<ion-view view-title="FutsalManager">
  <ion-content class="has-header">

    <div class="boxes-container">

      <a href="#/main/reservation">
        <div class="row" style="height:25%;"> <!--http://dlrkdalsdl.cafe24.com/resources/upload/home/matching.jpg-->
          <div class="col" style="background-color: #f3bb72; background-size: 100% 100%;padding:0px;">
            <div class="col col-33" style="padding:0px;color:white; float:left; width:33.3%; font-size:50px;height:100%;display:inline-table;"><i class="icon ion-calendar" style="display: table-cell;vertical-align: middle;text-align: center;"></i></div>
            <div class="col col-33" style="padding:0px;color:white; float:left; width:33.3%; font-size:15px;height:100%;display:inline-table;"><p style="font-weight:bold;display: table-cell;vertical-align: middle;text-align: center;">RESERVATION</p></div>
            <div class="col col-33" style="padding:0px;color:white; float:left; width:33.3%; font-size:15px;height:100%;display:inline-table;"><i class="icon ion-chevron-right" style="display: table-cell;vertical-align: middle;text-align: right;padding-right:10px;"></i></div>
          </div>
        </div>
      </a>

      <a href="#/main/matching">
        <div class="row" style="height:25%;"> <!--http://dlrkdalsdl.cafe24.com/resources/upload/home/matching.jpg-->
          <div class="col" style="background-color: #ff85a7; background-size: 100% 100%;padding:0px;">
            <div class="col col-33" style="padding:0px;color:white; float:left;  font-size:50px;height:100%;display:inline-table;"><i class="icon ion-trophy" style="display: table-cell;vertical-align: middle;text-align: center;"></i></div>
            <div class="col col-33" style="padding:0px;color:white; float:left;  font-size:15px;height:100%;display:inline-table;"><p style="font-weight:bold;display: table-cell;vertical-align: middle;text-align: center;">MATCHING</p></div>
            <div class="col col-33" style="padding:0px;color:white; float:left; font-size:15px;height:100%;display:inline-table;"><i class="icon ion-chevron-right" style="display: table-cell;vertical-align: middle;text-align: right;padding-right:10px;"></i></div>
          </div>
        </div>
      </a>

      <a href="#/main/recruitment">
        <div class="row" style="height:25%;"> <!--http://dlrkdalsdl.cafe24.com/resources/upload/home/matching.jpg-->
          <div class="col" style="background-color: #7beced; background-size: 100% 100%;padding:0px;">
            <div class="col col-33" style="padding:0px;color:white; float:left; width:33.3%; font-size:50px;height:100%;display:inline-table;"><i class="icon ion-flag" style="display: table-cell;vertical-align: middle;text-align: center;"></i></div>
            <div class="col col-33" style="padding:0px;color:white; float:left; width:33.3%; font-size:15px;height:100%;display:inline-table;"><p style="font-weight:bold;display: table-cell;vertical-align: middle;text-align: center;">RECRUITMENT</p></div>
            <div class="col col-33" style="padding:0px;color:white; float:left; width:33.3%; font-size:15px;height:100%;display:inline-table;"><i class="icon ion-chevron-right" style="display: table-cell;vertical-align: middle;text-align: right;padding-right:10px;"></i></div>
          </div>
        </div>
      </a>

      <a href="#/main/community">
        <div class="row" style="height:25%;"> <!--http://dlrkdalsdl.cafe24.com/resources/upload/home/matching.jpg-->
          <div class="col" style="background-color: #b2dc75; background-size: 100% 100%;padding:0px;">
            <div class="col col-33" style="padding:0px;color:white; float:left; width:33.3%; font-size:50px;height:100%;display:inline-table;"><i class="icon ion-chatboxes" style="display: table-cell;vertical-align: middle;text-align: center;"></i></div>
            <div class="col col-33" style="padding:0px;color:white; float:left; width:33.3%; font-size:15px;height:100%;display:inline-table;"><p style="font-weight:bold;display: table-cell;vertical-align: middle;text-align: center;">COMMUNITY</p></div>
            <div class="col col-33" style="padding:0px;color:white; float:left; width:33.3%; font-size:15px;height:100%;display:inline-table;"><i class="icon ion-chevron-right" style="display: table-cell;vertical-align: middle;text-align: right;padding-right:10px;"></i></div>
          </div>
        </div>
      </a>

    </div>

    <!--<button class="button button-full button-assertive" ng-click="choosePhoto()">-->
      <!--Choose Photo-->
    <!--</button>-->

  </ion-content>
</ion-view>
