<ion-modal-view ng-controller="Matching-MyMatchingController">
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ng-click="modalUtil.closeModal()"></button>
    <h1 class="title">Matching-MyMatching</h1>
  </ion-header-bar>
  <ion-content  class="has-header padding">

    <ion-list>
      <div class="item item-divider">나의매칭</div>
      <ion-item collection-repeat="matchIdList in matchingIdList" class="item-thumbnail-left" ng-click="showDetail('slideInRight', matchIdList.idx)" ng-switch on= "matchIdList.opp_YN">
        <img ng-src="{{matchIdList.regt_picture + updateImg}}">
        <h3>팀이름 : {{matchIdList.regt_name}}</h3>
        <h4>매칭 시간 : {{matchIdList.reghopeTime}}</h4>
        <h4>매칭 인원 : {{matchIdList.regteamnum}}명</h4>
        <h4>매칭 지역 : {{matchIdList.regcity}} {{matchIdList.reggu}}</h4>
        <div ng-switch-when="1">
          <span class="badge badge-stable" ng-if="matchIdList.reg_YN == 1">매칭 완료</span>
          <span class="badge badge-positive" ng-if="matchIdList.reg_YN == 0">매칭 중</span>
        </div>
        <div ng-switch-when="0">
          <span class="badge badge-assertive">매칭 대기중</span>
        </div>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-modal-view>

