<ion-view view-title="Matching">
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-edit" ng-click="showCreate('slideInRight')"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <ion-refresher
      on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>

      <div class="item item-divider">지역선택</div>
      <span class="item item-icon-right" ng-click="showCity('fadeInDownBig', 0)">
        지역 선택 : {{location.city}}
        <i class="icon ion-location"></i>
      </span>
      <span class="item item-icon-right" ng-click="showCity('fadeInDownBig', 1)" ng-show="location.city != '전체'">
        구 선택 : {{location.gu}}
        <i class="icon ion-location"></i>
      </span>

      <div class="item item-divider">매칭선택</div>
      <ion-item collection-repeat="matchList in matchingList" class="item-thumbnail-left" ng-click="showDetail('slideInRight', matchList.idx)" ng-switch on= "matchList.opp_YN">
        <img ng-src="{{matchList.regt_picture + updateImg}}">
        <h3>팀이름 : {{matchList.regt_name}}</h3>
        <h4>매칭 시간 : {{matchList.reghopeTime}}</h4>
        <h4>매칭 인원 : {{matchList.regteamnum}}명</h4>
        <h4>매칭 지역 : {{matchList.regcity}} {{matchList.reggu}}</h4>
        <div ng-switch-when="1">
          <span class="badge badge-stable" ng-if="matchList.reg_YN == 1">매칭 완료</span>
          <span class="badge badge-positive" ng-if="matchList.reg_YN == 0">매칭 중</span>
        </div>
        <div ng-switch-when="0">
          <span class="badge badge-assertive">매칭 대기중</span>
        </div>
      </ion-item>

    </ion-list>

    <!--<ion-infinite-scroll ng-if="canWeLoadMoreContent()" on-infinite="populateList()" distance="10%"></ion-infinite-scroll>-->

  </ion-content>

  <ion-floating-button click="showMyMatching('slideInRight')" has-footer="false" button-color="#387ef5" icon="ion-clipboard" icon-color="#fff">
  </ion-floating-button>

</ion-view>
