<ion-view view-title="Register">
  <ion-content class="has-header padding">

    <div class="row">
      <div class="col col-33 col-offset-33">
        <img ng-src="http://dlrkdalsdl.cafe24.com/resources/upload/logo/logo.png" style="width:100%;height:auto;"></img>
      </div>
    </div>

    <p style="text-align:center; font-weight:bold;">FootsalManager</p>

    <div class="list" style="margin-top:15px;">
      <label class="item item-input item-floating-label">
        <span class="input-label">ID</span>
        <input type="text" ng-model="member.id" ng-change="member.id = (member.id | lowercase)" placeholder="ID">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" ng-model="member.password" ng-change="member.password = (member.password | lowercase)" placeholder="Password">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password_Confirm</span>
        <input type="password" ng-model="member_confirm.password_confirm" ng-change="member_confirm.password_confirm = (member_confirm.password_confirm | lowercase)" placeholder="Password_Confirm">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">p_name</span>
        <input type="text" ng-model="profile.p_name" placeholder="p_name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">PhoneNumber(not -)</span>
        <input type="number" ng-model="profile.phone" placeholder="phoneNumber(not -)">
      </label>

      <button class="button button-block button-positive" ng-click="AccountMember()">Account</button>
    </div>


  </ion-content>

</ion-view>
