<ion-view view-title="Profile">
  <ion-content class="has-header">

    <div class="list">

      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        Name
        <span class="item-note">
          Grammy
       </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        Nickname
        <span class="item-note">
          Grammy
       </span>
      </a>


      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        Age
        <span class="item-note">
          Grammy
       </span>
      </a>


      <a class="item item-icon-left" href="#">
        <i class="icon ion-ios-telephone"></i>
        Phone
        <span class="item-note">
          Grammy
       </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        Foot
        <span class="item-note">
          Grammy
       </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        Position
        <span class="item-note">
          Grammy
       </span>
      </a>


      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        LiveLocation
        <span class="item-note">
          Grammy
       </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        Height
        <span class="item-note">
          Grammy
       </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        Weight
        <span class="item-note">
          Grammy
       </span>
      </a>

      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        FavoriteStadium
        <span class="item-note">
          Grammy
       </span>
      </a>



      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        MainTeam
        <span class="item-note">
          Grammy
       </span>
      </a>


      <a class="item item-icon-left" href="#">
        <i class="icon ion-mic-a"></i>
        SubTeam
        <span class="item-note">
          Grammy
       </span>
      </a>


    </div>
  </ion-content>
</ion-view>
