<ion-modal-view ng-controller="Recruitment-DetailController">
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-arrow-left-c" ng-click="modalA.remove()"></button>
    <h1 class="title">Recruitment-Detail</h1>
    <button class="button button-icon icon ion-trash-b" ng-if="recruitment.regid == localStorage.id" ng-click="showDeletePopup()"></button>
  </ion-header-bar>
  <ion-content  class="has-header padding">
    <div>
      <h4 class="positive" style="text-align: center">용병</h4>
    </div>
    <div class="card">
      <div class="item item-thumbnail-left">
        <img ng-src="{{recruitment.regp_picture + updateImg}}">
        <div class="row">
          <span class="col col-75" style="font-size:13px; padding: 0px;">닉네임 : {{recruitment.regnickname}}</span>
          <span class="col col-25" style="font-size:13px;padding: 0px;">나이 : {{recruitment.regage}}세</span>
        </div>
        <div class="row">
          <span class="col col-75" style="font-size:13px;padding: 0px;">키 : {{recruitment.regheight}}cm</span>
          <span class="col col-25" style="font-size:13px;padding: 0px;">포지션 : {{recruitment.regposition}}</span>
        </div>
        <div class="row">
          <span class="col col-75" style="font-size:13px;padding: 0px;">몸무게 : {{recruitment.regweight}}Kg</span>
          <span class="col col-25" style="font-size:13px;padding: 0px;">주발 : {{recruitment.regfoot}}</span>
        </div>
        <div class="row">
          <span class="col col-75" style="font-size:13px;padding: 0px;">원하는 곳 : {{recruitment.regcity}} {{recruitment.reggu}}</span>
          <span class="col col-25" style="font-size:13px;padding: 0px;"></span>
        </div>
      </div>
      <div class="item item-body">
          <p>
            내용 : {{recruitment.regcontent}}
          </p>
      </div>

      <a class="item item-icon-left assertive" ng-if="(recruitment.opp_YN == 1) && (recruitment.reg_YN == 1) && (recruitment.oppid == localStorage.id)" href="tel:{{recruitment.regphone}}">
        <i class="icon ion-android-call"></i>
        전화번호 : {{recruitment.regphone}}
      </a>

    </div>

    <label class="item item-input item-select" ng-show="recruitment.opp_YN == 0 && recruitment.regid != localStorage.id ">
      <span class="input-label">TeamName</span>

      <select ng-model="team.t_name">
        <option ng-repeat="myTeamName in myTeamNameList" value="{{myTeamName}}">{{myTeamName}}</option>
      </select>
    </label>


    <div style="margin-top:20px;" ng-if="recruitment.opp_YN == 1">
      <h4 class="positive" style="text-align: center">팀</h4>
    </div>

    <div class="card" ng-if="recruitment.opp_YN == 1">
      <div class="item item-thumbnail-left">
        <img ng-src="{{recruitment.oppt_picture + updateImg}}">
        <div class="row">
          <span class="col col-75" style="font-size:13px; padding: 0px;">팀이름 : {{recruitment.oppt_name}}</span>
          <span class="col col-25" style="font-size:13px;padding: 0px;"></span>
        </div>
      </div>
      <!--<div class="item item-body">-->
        <!--<p>-->
          <!--내용 : {{recruitment.regcontent}}-->
        <!--</p>-->
      <!--</div>-->

      <a class="item item-icon-left assertive" ng-if="recruitment.opp_YN == 1 && recruitment.reg_YN == 1 && (recruitment.regid == localStorage.id)" href="tel:{{recruitment.oppphone}}">
        <i class="icon ion-android-call"></i>
        전화번호 : {{recruitment.oppphone}}
      </a>

    </div>

  </ion-content>

  <ion-footer-bar class="bar-positive footer-bar">
    <div class="button-bar" ng-show="buttonBar">
      <button class="button button-clear" ng-bind="registerName" ng-show="registerShow" ng-click="PositiveBtn()" style="border:1px solid white;"></button>
      <button class="button button-clear" ng-show="cancelShow" ng-click="negativeBtn()" style="border:1px solid white;">취소</button>
      <button class="button button-clear" ng-bind="stateName" ng-show="stateShow" style="border:1px solid white;"  ng-disabled="true">완료된 매치입니다.</button>
    </div>
  </ion-footer-bar>

</ion-modal-view>

