<ion-view view-title="Tip">
  <ion-content class="has-header" scroll="false">
    <ion-slides  options="options" slider="data.slider">
      <ion-slide-page>
        <div class="box" style="width:100%; height:100%; background-image:url('http://dlrkdalsdl.cafe24.com/resources/upload/tip/tip1.jpg'); background-size: 100% 100%;"></div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box" style="width:100%; height:100%; background-image:url('http://dlrkdalsdl.cafe24.com/resources/upload/tip/tip2.jpg'); background-size: 100% 100%;"></div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box" style="width:100%; height:100%; background-image:url('http://dlrkdalsdl.cafe24.com/resources/upload/tip/tip3.jpeg'); background-size: 100% 100%;"></div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
